[
  {
    title: "kinonation"
    group: "kinonation"
    paths: [
      "~/src/kinonation"
    ]
    icon: "icon-chevron-up"
  }
  {
    title: "kn-app"
    group: "kinonation"
    paths: [
      "~/src/kn-app"
    ]
    icon: "icon-repo"
  }

  {
    title: "atom-config"
    group: "kinonation"
    paths: [
      "~/.atom"
    ]
    icon: "icon-chevron-right"
  }
]
